################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Virtual Gallery/.vs/Virtual Gallery
/Virtual Gallery/Virtual Gallery/obj
