################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Virtual Gallery/.vs/Virtual Gallery
/Virtual Gallery/Virtual Gallery/obj
/Virtual Gallery/Library.VirtualGallery/obj
/Virtual Gallery/Virtual Gallery/bin/Debug/net8.0
